/* .status {
   display: block;
   border-radius: 50%;
   height: 10px;
   width: 10px;
   background-color: #fff;
}

.true {
   background-color: rgba(37, 158, 37, 0.621);
}

.false {
   background-color: rgba(165, 39, 39, 0.748);
} */